.App {
  text-align: center;
  align-items: center;
}

.home {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30em;
  margin-top: 2em;
  border-right: 10em;
  align-items: center;
}

.bg-home {
  width: 20%;
}

@media (min-width: 576px) {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.color {
  color: #d98434;
}

.text-align {
  text-align: center;
}

.text-line {
  line-height: 1.7;
}
.color-navbar {
  color: white;
}

.navbar {
  background-color: #d98434;
  color: white;
  width: 100%;
}

.button {
  font-size: 15px;
  border-radius: 6px;
  box-shadow: 1px;
  text-shadow: 1px;
  background-color: #d98434;
  border-color: #d98434;
  color: white;
}
/* .login {
  background-color: #f0be90;
  margin: 0;
} */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.button1 {
  font-size: 15px;
  border-radius: 6px;
  box-shadow: 1px;
  text-shadow: 1px;
  background-color: #f7f5f3;
  border-color: #f7f5f3;
  color: #d98434;
}

.position-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.position-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 

}

.position-end-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.end {
  display: flex;
  justify-items: end;
}

.img-carousel {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.bg-img {
  display: flex;
  align-items: flex-start;
  margin-top: 2em;
  margin-right: 2em;
}

.d-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 2em;
}

.align-left {
  text-align: left;
}
